@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: open sans;
    height: 100vh;
}

.nav-bar{
    background-color: rgb(175, 175, 173);
    height: 100px;
    display: flex;
    border-bottom: 1px solid rgb(187, 187, 184);
}

.containerH{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;    
}

.header-left{
    font-size: x-large;
    font-weight: 700;
}

.header-right{
    font-size: large;
    font-weight: 700;
}

ul, li, a{
    list-style: none;
    display: inline;
    text-decoration: none;
    margin: 20px;
    color: black;
}

.container{
    background-image: url(/photo/background-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.container1, .container2{
    flex: 1;
}

.container-text{
    border-radius: 25px;
    width: 85%;
    margin: auto;
    height: 80vh;
    position: relative;
}


.container2{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dt{
    margin-bottom: 30px;
}

.title{
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    
}

#opening-tag{
    font-size: 150px;
    width: 90%;
    margin: auto;
}

#closing-tag{
    font-size: 150px;
    text-align: end;
}

.name{
    font-size: 20px;
    line-height: 45px;
    width: 75%;
    margin: auto;
}

.my-name{
    font-size: 30px;
}

span{
    font-size: 50px;
}

.dt p{
    font-size: 50px;
}

footer{
    background-color: rgb(175, 175, 173);
    border-top: 1px solid rgb(187, 187, 184);
}

.foot{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 25px;
}